/*	Computer Layout: 768px. */

@media only screen and (min-width: 992px){

}

/*	Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width:1024px) {
.button_container {
  display:block;
}
.overlay-close{
	display:none;
}
}


/*	Mobile Layout: 420px.  */

@media only screen and (max-width: 767px) {
.ptd100 {
    padding: 60px 0;
}
.button_container {
  display:block;
}
.overlay-close{
	display:none;
}
.footer-widget-main:before {
    display:none;
}
.footer-widget{
	float:left !important;
}
.footer-widget-main{
	padding-bottom:30px;
}
.next-slider-content-wrapper {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 100px;
}
.next-slider-content h1 {
    font-size: 30px;
}
.slider-section {
    padding-top: 90px;
}
.article-image {
    display: none;
}
.search-result h4{
	font-size:20px;
}
.title-wrapper h1 {
    font-size: 30px;
}
.blog-post-comment-box .blog-post-comment-thum {
    width: 50px;
}
.blog-post-comment-box .blog-post-comment-box {
    padding-left: 30px;
}
.themeix-blog-post h2 {
    margin-bottom: 10px;
    font-size: 24px;
}
.main-section h2{
	font-size:24px;
}
.main-section h3{
	font-size:20px;
}
.blog-post-title {
    margin-bottom: 15px;
    font-size: 24px;
}
.blog-post-comment-post h4 {
    font-size: 20px;
}
.blog-post-social{
	text-align:center !important;
}
.blog-post-pagination {
    text-align:center !important;
}
.author-biodata-bubble {
    display:none;
}
.not-found-image {
    max-width: 160px;
}
.sidebar-widget {
    margin-bottom: 30px;
}
.blog-post-panel {
    margin-bottom: 30px;
}
.footer-widget-box h5{
	font-size:18px;
}
.button_container {
    top: 10px;
}
}
/*	Small Mobile Layout: 320px.  */

@media only screen and (max-width: 420px) {

}